doctype html
html(lang="pt-BR")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name='description' content='Home page da UltraSV')
    meta(name='keywords' content='vendas, marketing, soluções')
    meta(name='description' content='UltraSV soluções em vendas')
    meta(http-equiv='content-language' content='pt-br')

    title UltraSV [beta]
    link(href='./css/main.scss' rel='stylesheet' type='text/css')
    //- <link href="https://fonts.googleapis.com/css?family=Livvic|Montserrat|Roboto&display=swap" rel="stylesheet">
  body(style='overflow: hidden')
    header.welcome__header
      .welcome__image-container
        picture
          source(media='(max-width: 460px)' srcset='./images/fundo-croped.jpg').welcome__image
          source(media='(min-width: 461px)' srcset='./images/fundo.jpg').welcome__image
          img(src='./images/fundo.jpg').welcome__image

      .welcome__container
        h1.welcome__title ULTRA SV
        h2.welcome__subtitle Soluções em Vendas
        p.welcome__text Bem vindos ao nosso site!
        a.welcome__button INICIAR
        span.welcome__icon
          i.fas.fa-chevron-down

    nav.navbar__main
      .navbar__container
        .navbar__logo-wrapper
          img.navbar__logo(src="./images/logo-grey.svg", alt="")
        .navbar__nav-wrapper
          ul.navbar__item-container
            li.navbar__item
              a.navbar__item-link(href="#home") Home
            li.navbar__item
              a.navbar__item-link(href="#about") Sobre Nós
            li.navbar__item
              a.navbar__item-link(href="#partners") Parceiros
            li.navbar__item
              a.navbar__item-link(href="#products") Produtos
            li.navbar__item
              a.navbar__item-link(href="#contact") Contato
      img.navbar__image(src="./images/nav2.jpg", alt="", srcset="")

      //- img(src="./images/nav.svg", alt="", srcset="")
    main.content
      article.content__home#home
        ul.content__home-slider.siema
          li.content__home-slider-cell
            img.content__home-img(src="./images/home2.jpg", alt="", srcset="")
            .content__home-title Titulo
            .content__home-text= home_text
          li
            img.content__home-img(src="./images/home2.jpg", alt="", srcset="")
          li
            img.content__home-img(src="./images/home2.jpg", alt="", srcset="")

        span.content__home-slider--left
          i.fas.fa-angle-left
        span.content__home-slider--right
          i.fas.fa-angle-right

      div.separator__container
        .separator

      article.content__about#about
        h1.content__partners-title Sobre Nós
        .content__about-container
          .content__about-text--grey
            h1.content__about-text-title Ultra Sv
            p= about
          .content__about-text--white
            h1.content__about-text-title--white História
            p= about2
        .content__about-container
          .flip-card
              .flip-card-inner
                .flip-card-front--white
                  img(src="./images/noun_target.svg", alt="", srcset="")
                  span Missão
                .flip-card-back--white
                  span= missao
          .flip-card
              .flip-card-inner
                .flip-card-front--grey
                  img(src="./images/noun_binoculars.svg", alt="", srcset="")
                  span Visão
                .flip-card-back--grey
                  span= visao
          .flip-card
              .flip-card-inner
                .flip-card-front--white
                  img(src="./images/noun_presentation.svg", alt="", srcset="")
                  span Valores
                .flip-card-back--white
                  span= valores

      article.content__partners#partners
        h1.content__partners-title Parceiros
        .content__partners-container
          .content__partners-box
            .content__partners-box-icon
              img(src="./images/logo-grey.svg", alt="", srcset="")
            .content__partners-box-text
              h2= parceiros[0].titulo
              p= parceiros[0].texto
          .content__partners-box
            .content__partners-box-icon
              img(src="./images/logo-grey.svg", alt="", srcset="")
            .content__partners-box-text
              h2= parceiros[1].titulo
              p= parceiros[1].texto
          .content__partners-box
            .content__partners-box-icon
              img(src="./images/logo-grey.svg", alt="", srcset="")
            .content__partners-box-text
              h2= parceiros[2].titulo
              p= parceiros[2].texto

      article.content__products#products
        h1.content__partners-title Produtos
        section.content__products-container.siema2
          .content__products-item
            img(src="./images/img-04.jpg", alt="", srcset="").content__products-item-image
            .content__products-item-card
              .content__products-item-card__title
                p= produtos[0].titulo
                .content__products-slider-container
                  span.content__products-slider-button--left
                    i.fas.fa-angle-left
                  span.content__products-slider-button--right
                    i.fas.fa-angle-right
              p= produtos[0].texto
          .content__products-item
            img(src="./images/img-05.jpg", alt="", srcset="").content__products-item-image
            .content__products-item-card
              .content__products-item-card__title
                p= produtos[1].titulo
                .content__products-slider-container
                  span.content__products-slider-button--left
                    i.fas.fa-angle-left
                  span.content__products-slider-button--right
                    i.fas.fa-angle-right
              p= produtos[1].texto


      article.content__contact#contact
        h1.content__partners-title Entre em contato
        section.content__contact-container
          .content__contact-form
            form(method='POST' action=`https://formspree.io/${mail}`).content__contact-form-send
              input(type='email' name='email' placeholder='Seu email')
              input(type='text' name='subject' placeholder='Assunto')
              textarea(name='message' placeholder='Insira sua mensagem aqui')
              button(type='submit') Enviar

            .content__contact-text
              p Salvador Brasil
              a(href="mailto:comercial@ultrasv.com.br") comercial@ultrasv.com.br
              a(href="tel:+5571981010203") (71)98101 0203
              a(href="tel:+5571981223778") (71)98122 3778
              a(href="tel:+5571981223722") (71)98122 3722

          picture.content__contact-img
            source(media='(max-width: 460px)' srcset='./images/contact-img-croped.jpg')
            source(media='(min-width: 461px)' srcset='./images/contact-img.jpg')
            img(src="./images/contact-img.jpg", alt="", srcset="")

      article.content__local
        h1.content__partners-title Local
        section.content__local
          iframe.content__local-map(width='425' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://www.openstreetmap.org/export/embed.html?bbox=-38.75839233398438%2C-13.075465253049035%2C-38.23242187500001%2C-12.680535335290262&layer=mapnik&marker=-12.878078089985115%2C-38.49540710449219')
          br
          small.content__local-link
            a.content__local-link(href='https://www.openstreetmap.org/?mlat=-12.8781&mlon=-38.4954#map=11/-12.8781/-38.4954')
              | View Larger Map




    footer.footer
      .footer__container
      //- img(src="./images/wave-footer.svg", alt="", srcset="")

    script(src='./js/main.js')
